In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\aaron\Downloads\archive'

In [5]:
df = pd.read_csv(os.path.join(path, 'cwurData.csv'), index_col = False)

In [7]:
df.shape

(2200, 14)

In [9]:
df.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents',
       'score', 'year'],
      dtype='object')

Dropping Unnecessary Columns

In [14]:
df = df.drop(columns = ['broad_impact'])

In [16]:
df.shape

(2200, 13)

Renaming Columns to make them easier to understand

In [20]:
df.rename(columns = {'quality_of_education' : 'rank_for_education'}, inplace = True)

In [22]:
df.rename(columns = {'alumni_employment' : 'rank_for_alumni_employment'}, inplace = True)

In [24]:
df.rename(columns = {'quality_of_faculty' : 'rank_for_faculty'}, inplace = True)

In [26]:
df.rename(columns = {'publications' : 'rank_for_publications'}, inplace = True)

In [28]:
df.rename(columns = {'influence' : 'rank_for_influence'}, inplace = True)

In [30]:
df.rename(columns = {'citations' : 'rank_for_number_of_students'}, inplace = True)

In [32]:
df.rename(columns = {'patents' : 'rank_for_patents'}, inplace = True)

In [34]:
df.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'rank_for_education', 'rank_for_alumni_employment', 'rank_for_faculty',
       'rank_for_publications', 'rank_for_influence',
       'rank_for_number_of_students', 'rank_for_patents', 'score', 'year'],
      dtype='object')

Checking for missing values

In [38]:
df.isnull().sum()

world_rank                     0
institution                    0
country                        0
national_rank                  0
rank_for_education             0
rank_for_alumni_employment     0
rank_for_faculty               0
rank_for_publications          0
rank_for_influence             0
rank_for_number_of_students    0
rank_for_patents               0
score                          0
year                           0
dtype: int64

Checking for duplicated rows

In [42]:
df_dups = df[df.duplicated()]

In [44]:
df_dups

Empty DataFrame
Columns: [world_rank, institution, country, national_rank, rank_for_education, rank_for_alumni_employment, rank_for_faculty, rank_for_publications, rank_for_influence, rank_for_number_of_students, rank_for_patents, score, year]
Index: []

Descriptive Statistics

In [48]:
df.describe()

,world_rank,national_rank,rank_for_education,rank_for_alumni_employment,rank_for_faculty,rank_for_publications,rank_for_influence,rank_for_number_of_students,rank_for_patents,score,year
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,459.590909,40.278182,275.100455,357.116818,178.888182,459.908636,459.797727,413.417273,433.346364,47.798395,2014.318182
std,304.320363,51.740870,121.935100,186.779252,64.050885,303.760352,303.331822,264.366549,273.996525,7.760806,0.762130
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,43.360000,2012.000000
25%,175.750000,6.000000,175.750000,175.750000,175.750000,175.750000,175.750000,161.000000,170.750000,44.460000,2014.000000
50%,450.500000,21.000000,355.000000,450.500000,210.000000,450.500000,450.500000,406.000000,426.000000,45.100000,2014.000000
75%,725.250000,49.000000,367.000000,478.000000,218.000000,725.000000,725.250000,645.000000,714.250000,47.545000,2015.000000
max,1000.000000,229.000000,367.000000,567.000000,218.000000,1000.000000,991.000000,812.000000,871.000000,100.000000,2015.000000

Exporting data

In [55]:
df.to_csv(os.path.join(path, 'A6_Data.csv'))